---
layout: default
tag: graphic design
---

<p>
  Published by  <a href="https://www.facebook.com/stairwaycl">{{ site.github_username }}</a> | {{ page.date | date_to_string }} {{ page.author }}



  {% if page.last_modified_at and page.last_modified_at != page.date %}

    <br><small class="text-muted">Última Actualización:
        {{ page.last_modified_at | date: "%d %b %Y" }}
    </small>
  {% endif %}
</p>

<div class="container rounded-2 p-3 shadow-lg container-posts">
  {{ content }}
</div>
